<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h2>Current monitorings</h2>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>

                    <!--<th><input type="checkbox" id="checkall" /></th>-->
                    <th>Name</th>
                    <th>Market Cap</th>
                    <th>Price USD</th>
                    <th>Change (24h)</th>
                    <th>Monitor Condition</th>
                    <th>Condition Value</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>

                    <tr th:each="monitoring : ${monitorings}">
                        <!--<td><input type="checkbox" class="checkthis" /></td>-->
                        <td th:text="${monitoring.cryptoCurrency.name}"></td>
                        <td th:text="${monitoring.cryptoCurrency.symbol}"></td>
                        <td th:text="${monitoring.cryptoCurrency.priceUSD}"></td>
                        <td th:text="${monitoring.cryptoCurrency.percentChange24h} + '%'"></td>
                        <td th:text="${monitoring.monitoringCondition.description}"></td>
                        <td th:text="${monitoring.conditionValue}"></td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <a th:href="${'/monitoring/edit/' + monitoring.id}" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <a th:href="${'/monitoring/delete/' + monitoring.id}" class="btn btn-danger btn-xs" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                    </tr>

                    </tbody>

                </table>
                <a class="btn icon-btn btn-success" href="/monitoring/new"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add new monitoring</a>

                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>

            </div>

        </div>
    </div>
</div>

</body>
</html>
